.body {
    font-family: Verdana, Geneva, sans-serif;
    font-size:100%;
}
.updown {
    border: 0;
}
.front-item-title-vlevel1 {
    color: #000;
    position: absolute;
    left: 10px;
    top: 25px;
}
.front-comment-header-vlevel1 {
    font-size:smaller;
    color: #666;
    position: absolute;
    left: 62px;
    top: 55px;
}
.front-item-title-vlevel2 {
    color: #000;
    position: absolute;
    left: 10px;
    top: 80px;
}
.front-comment-header-vlevel2 {
    font-size:smaller;
    color: #666;
    position: absolute;
    left: 62px;
    top: 110px;
}

.header {
    font-family: Verdana, Geneva, sans-serif;
    font-size:x-small;
    color: #666;
    position: relative;
    left: 0cm;
    top: 0px;
}
.enum {
    font-family: Verdana, Geneva, sans-serif;
    font-size:smaller;
    color: #666;
}
h1 {
    color: #000;
    font-size:2.5em;
}
h2 {font-size:1.875em}
.itemtitle {
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
    position: relative;
    left: 0cm;
}
.level0 {
    font-family: Verdana, Geneva, sans-serif;
    left: 0cm;
}
.level1 {
	position: relative;
	left: 1cm;
	font-family: Verdana, Geneva, sans-serif;
}
.level2 {
	font-family: Verdana, Geneva, sans-serif;
	left: 2cm;
	position: relative;
	border-bottom-stye: none;
}
.level3 {
	font-family: Verdana, Geneva, sans-serif;
	left: 4cm;
	position: relative;
}
.level4 {
	font-family: Verdana, Geneva, sans-serif;
	left: 6cm;
	position: relative;
}

.level5 {
	font-family: Verdana, Geneva, sans-serif;
	left: 8cm;
	position: relative;
}
.level6 {
	font-family: Verdana, Geneva, sans-serif;
	left: 10cm;
	position: relative;
}
.level7 {
	font-family: Verdana, Geneva, sans-serif;
	left: 12cm;
	position: relative;
}
.level8 {
	font-family: Verdana, Geneva, sans-serif;
	left: 14cm;
	position: relative;
}
.level9 {
	font-family: Verdana, Geneva, sans-serif;
	left: 16cm;
	position: relative;
}
.level10 {
	font-family: Verdana, Geneva, sans-serif;
	left: 18cm;
	position: relative;
}
.levelmax {
	font-family: Verdana, Geneva, sans-serif;
	left: 20cm;
	position: relative;
}
#submittitle {
    position: absolute;
    top: 50px;
    left: 20px;
}

#submitand {
    position: absolute;
    top: 65px;
    left: 40px;
}

#submiturl {
    position: absolute;
    top: 110px;
    left: 20px;
}
#submitcommentlbl {
    position: absolute;
    top: 170px;
    left: 20px;
}
#submitcomment {
    position: absolute;
    top: 190px;
    left: 20px;
}

#submitor {
    position: absolute;
    top: 125px;
    left: 40px;
}   

#submitbutton {
    position: absolute;
    top: 400px;
    left: 20px;
}

.navigator {
	font-family: Verdana, Geneva, sans-serif;
	font-size: large;
	border: thin inset #006;
	color: #CCC;
	background-color: #000;
	padding: 5px;
}
.tab {
	padding: 4px;
}
a {
	color: #999;
	text-decoration: none;
}

p {
    font-size:0.875em;
    font-family: Verdana, Geneva, sans-serif;
}
label {
    font-size:0.875em;
    font-family: Verdana, Geneva, sans-serif;
}
#comment-in {
    width: 500px;
    height: 200px;
}
#titlediv {
    border-right: 3px;
    border-left: 3px;
}