.body {
    font-family: Verdana, Geneva, sans-serif;
    font-size:100%;
}
.updown {
    border: 0;
}
a {
    color: #666;
    text-decoration: none;
}
a:visited {
    color: #777;
}
.front-title {
    color: #000;
    font-size: large;
    text-decoration: none;
}
.front-item-title-vlevel1 {
    color: #000;
    position: absolute;
    left: 10px;
    top: 25px;
}
.front-comment-header-vlevel1 {
    font-size:smaller;
    color: #666;
    position: absolute;
    left: 62px;
    top: 55px;
}
.front-item-title-vlevel2 {
    color: #000;
    position: absolute;
    left: 10px;
    top: 80px;
}
.front-comment-header-vlevel2 {
    font-size:smaller;
    color: #666;
    position: absolute;
    left: 62px;
    top: 110px;
}

.header {
    font-family: Verdana, Geneva, sans-serif;
    font-size:x-small;
    color: #666;
    position: relative;
    left: 0px;
    top: -5px;
}

h1 {
    color: #000;
    font-size:2.5em;
}
h2 {font-size:1.875em}
.itemtitle {
    font-size: 1.5em;
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
    position: relative;
    left: 0cm;
}
.level0 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.70em;
    left: 0cm;
    padding: 15px;
}
.level1 {
    font-size: 0.70em;
    position: relative;
    left: 1cm;
    font-family: Verdana, Geneva, sans-serif;
    padding: 15px;
}
.level2 {
    font-size: 0.70em;
    font-family: Verdana, Geneva, sans-serif;
    left: 2cm;
    position: relative;
    padding: 15px;
}
.level3 {
    font-size: 0.70em;
    font-family: Verdana, Geneva, sans-serif;
    left: 3cm;
    position: relative;
    paddign: 15px;
}
.level4 {
    font-size: 0.70em;
    font-family: Verdana, Geneva, sans-serif;
    left: 4cm;
    position: relative;
}

.level5 {
    font-size: 0.70em;
    font-family: Verdana, Geneva, sans-serif;
    left: 5cm;
    position: relative;
}
.level6 {
    font-size: 0.70em;
    font-family: Verdana, Geneva, sans-serif;
    left: 6cm;
    position: relative;
}
.level7 {
    font-size: 0.70em;
    font-family: Verdana, Geneva, sans-serif;
    left: 7cm;
    position: relative;
}
.level8 {
    font-size: 0.70em;
    font-family: Verdana, Geneva, sans-serif;
    left: 8cm;
    position: relative;
}
.level9 {
    font-size: 0.70em;
    font-family: Verdana, Geneva, sans-serif;
    left: 9cm;
    position: relative;
}
.level10 {
    font-family: Verdana, Geneva, sans-serif;
    left: 10cm;
    position: relative;
}
.levelmax {
    font-size: 0.70em;
    font-family: Verdana, Geneva, sans-serif;
    left: 11cm;
    position: relative;
}
#submittitle {
    position: absolute;
    top: 50px;
    left: 20px;
}

#submitand {
    position: absolute;
    top: 65px;
    left: 40px;
}

#submiturl {
    position: absolute;
    top: 110px;
    left: 20px;
}
#submitcommentlbl {
    position: absolute;
    top: 170px;
    left: 20px;
}
#submitcomment {
    position: absolute;
    top: 190px;
    left: 20px;
}

#submitor {
    position: absolute;
    top: 125px;
    left: 40px;
}   

#submitbutton {
    position: absolute;
    top: 400px;
    left: 20px;
}
#edittitle {
    position: absolute;
    top: 50px;
    left: 20px;
}

#editand {
    position: absolute;
    top: 65px;
    left: 40px;
}

#editurl {
    position: absolute;
    top: 110px;
    left: 20px;
}
#editcommentlbl {
    position: absolute;
    top: 90px;
    left: 20px;
}
#editcomment {
    position: absolute;
    top: 110px;
    left: 20px;
}

#editor {
    position: absolute;
    top: 125px;
    left: 40px;
}   

#editbutton {
    position: absolute;
    top: 320px;
    left: 20px;
}

#editbuttonurl {
    position: absolute;
    top: 150px;
    left: 20px;
}

.navigator {
    font-family: Verdana, Geneva, sans-serif;
    font-size: large;
    border: thin inset #006;
    color: #CCC;
    background-color: #000;
    max-width: 800px;
    padding: 5px;
    position: relative;
    left: 25px;
}
.tab {
	padding: 4px;
}

p {
    font-size:0.875em;
    font-family: Verdana, Geneva, sans-serif;
}
label {
    font-size:0.875em;
    font-family: Verdana, Geneva, sans-serif;
}

#comment-in {
    width: 500px;
    height: 200px;
    position:relative;
    left:5px;
}

#comment {
    width: 500px;
    height: 200px;
}
#body {
    width: 500px;
    height: 200px;
}
.frontitem {
    position: relative;
    left: 0px;
    height: 40px;
}
.enum {
    font-family: Verdana, Geneva, sans-serif;
    font-size:1em;
    color: #666;
    position: absolute;
    top: 7px;
}
.votebuttons {
    position: absolute;
    left: 30px;
    top: 0px;
}

.front-title-text {
    font-size:1em;
    font-family: Verdana, Geneva, sans-serif;
    color: black;
}

.fronttitle {
    position: absolute;
    left: 44px;
    top: -10px;
}
.statusline {
    position: absolute;
    font-size:x-small;
    font-family: Verdana, Geneva, sans-serif;
    left: 44px;
    top: 25px;
}

.outerbox {
    background-color: #EBECE4;
    min-height: 425px;
    max-width: 800px;
    padding: 5px;
    position: relative;
    left: 25px;

}
#newuserform {
    position: absolute;
    top: 200px;
    left: 200px;
    text-align: center;
    width: 250px;
    font-family: Verdana, Geneva, sans-serif;
    border: thin inset #006;
    color: #CCC;
    background-color: #000;
    padding: 5px;
}

/* 
 * .votes {
 *     position:relative;
 *     width:100px;
 *     top:0px;
 *     left:0px;
 * }
 * .parent {
 *     position:absolute;
 *     top:0px;
 * }
 * 
 * .points {
 *     position:absolute;
 *     top:-5px;
 *     left:15px;
 * }
 * .reply {
 *     position:absolute;
 *     top:0px;
 *     left:50px;
 * }
 * .edit {
 *     position:absolute;
 *     top:0px;
 *     left:300px;
 * }
 * .delete {
 *     position:absolute;
 *     top:0px;
 *     left:100px;
 * }
 */
.votes {
    position:absolute;
    padding: 3px;
    top:-7px;
    left:-18px;
}
.parent {
    padding: 3px;

}
.points {
    padding: 0px;
}
.edit {
    padding: 3px;
}
.reply {
    padding: 3px;
}
.delete {
    padding: 3px;
}
#login {
 position: relative;
 left: 50px;
 top: 50px;
}
#register {
    position: relative;
    font-size: 0.70em;
    left: 20px;
    font-family: Verdana, Geneva, sans-serif;
    padding: 3px;
}